<!DOCTYPE html>
<html>
<head>
    <title>User Profile</title>
    <link rel="stylesheet" href="{% load static %}{% static 'news/styles.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2>User Profile</h2>
        <p>Username: {{ user.username }}</p>
        <p>Email: {{ user.email }}</p>
        <a href="{% url 'preferences' %}" class="btn btn-info">Edit Preferences</a>
        <a href="{% url 'password_change' %}" class="btn btn-warning">Change Password</a>
    </div>
</body>
</html>
