body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #EAF6FF, #F4F4F9);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

h1 {
    color: #2c3e50;
}

p {
    color: #666;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.checkbox-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
}

.checkbox-group input[type="checkbox"] {
    display: none; /* Hide the actual checkbox */
}

.checkbox-group label {
    background-color: #3498db; /* Button background color */
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 14px;
    user-select: none; /* Prevent text selection on double-click */
}

.checkbox-group input[type="checkbox"]:checked + label {
    background-color: #2ecc71; /* Change background on selection */
}

.checkbox-group label:hover {
    background-color: #2980b9; /* Darker color on hover */
}

input[type="submit"] {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 12px 25px;
    cursor: pointer;
    border-radius: 30px;
    font-size: 16px;
    margin-top: 20px;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #c0392b;
}
